.nscountdown{
    margin-top:22px;
    margin-bottom:28px;
}
.nscountdown table{
    width:100%;
}

.nscountdown table td{ 
    text-align: center;
}
/* COUNTER */
.nscountdown table thead td{
    padding-bottom: 15px;
    font-size: 28pt;
    color:#f58220;
    font-weight: bold;
    font-family: Tahoma;
    
}
/* HOURS MINUTES AND SECONDS*/
.nscountdown table tbody td{      
    text-transform: uppercase;
    font-family: Tahoma;
    padding-bottom:20px;
}
/* TEXT */
.nscountdown table tfoot td{      
    font-size: 24pt;
    color:#f58220;
    font-weight: bold;
    font-family: Tahoma;
    
}